@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  font-size: 14px;
  font-family: inherit;
  color: white;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button-white {
  text-decoration: none;
  color: #a5a5a5;
  background: #414141;
  cursor: pointer;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #212121;
}

.button-white:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #212121;
}

.button-white:active {
  transform: scale(0.9);
}

.button-black {
  text-decoration: none;
  color: #a5a5a5;
  background: #313131;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #414141;
}
.button-red {
  text-decoration: none;
  color: #a5a5a5;
  background: #313131;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #414141;
}

.button-black:hover {
  color: #414141;
  box-shadow: inset 0 -100px 0 0 #ffffff;
}
.button-red:hover {
  color: #414141;
  box-shadow: inset 0 -100px 0 0 #bd3d3d;
}

.button-black:active {
  transform: scale(0.9);
}
.button-red:active {
  transform: scale(0.9);
}

.button-projects {
  text-decoration: none;
  color: #a5a5a5;
  background: transparent;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #414141;
}

.button-projects:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #414141;
}

.button-projects:active {
  transform: scale(0.9);
}

.inputs {
  border-radius: 8px;
  color: #414141;
  background-color: #a5a5a5;
}

.my-card {
  background-color: transparent;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.my-card:hover .inner-card {
  transform: rotateY(180deg);
}

.front-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.back-side {
  text-align: left;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: #a5a5a5;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.front-side,
.front-side::before {
  margin: auto;
}

.back-side,
.back-side::before {
  background-image: linear-gradient(160deg, #221a38 0%, #212121 100%);
}

.back-side {
  transform: rotateY(180deg);
}

.front-side::before,
.back-side::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
